@import url('https://www.fontify.me/wf/5cfc1e12b698845fbc0ee9ac1b686dfd');

@font-face {
    font-family: "sf-pro-rounded";
    src: url("../font/sf-pro-rounded.ttf") format("truetype");
}

body {
    background-color: #F8F8F8;
}

#menu-nav {
    /* color: white; */
    font-family: font61345;
    font-size: 20px;
}

#papankata {
    font-family: "sf-pro-rounded";
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: white;
}

#papanbox-navbar {
    background-image: url("https://res.cloudinary.com/dw5hlq8f7/image/upload/v1582818300/papanboxbg_y8zhzq.jpg");
    background-color: skyblue;
    width: 100%;
}


#papanbox {
    background-image: url("https://res.cloudinary.com/dw5hlq8f7/image/upload/v1582818300/papanboxbg_y8zhzq.jpg");
    background-color: skyblue;
    width: 100%;
}

.font-default {
    font-family: "sf-pro-rounded";
}