@font-face {
    font-family: "sf-pro-rounded";
    src: url("sf-pro-rounded.ttf");
    /* format("truetype") */
}

.font-default {
    font-family: "sf-pro-rounded";
}

#papankata {
    font-family: "sf-pro-rounded";
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: white;
}


body {
    background-color: #F8F8F8;
}

#menu-nav {
    /* color: white; */
    font-family: font61345;
    font-size: 20px;
}


#papanbox-navbar {
    background-image: url("https://res.cloudinary.com/dw5hlq8f7/image/upload/v1582818300/papanboxbg_y8zhzq.jpg");
    background-color: skyblue;
    width: 100%;
}


#papanbox {
    background-image: url("https://res.cloudinary.com/dw5hlq8f7/image/upload/v1582818300/papanboxbg_y8zhzq.jpg");
    background-color: skyblue;
    width: 100%;
}